<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.supercharli.env</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-lc</string>
      <string>source __ENV_FILE__ ; launchctl setenv DEEPSEEK_API_KEY "$DEEPSEEK_API_KEY" ; launchctl setenv DEEPSEEK_BASE_URL "$DEEPSEEK_BASE_URL" ; launchctl setenv GEMINI_API_KEY "$GEMINI_API_KEY" ; launchctl setenv GEMINI_BASE_URL "$GEMINI_BASE_URL" ; launchctl setenv ANTHROPIC_BASE_URL "$ANTHROPIC_BASE_URL" ; launchctl setenv ANTHROPIC_AUTH_TOKEN "$ANTHROPIC_AUTH_TOKEN" ; launchctl setenv SUPERCHARLI_MODEL_FAST "$SUPERCHARLI_MODEL_FAST" ; launchctl setenv SUPERCHARLI_MODEL_DEEP "$SUPERCHARLI_MODEL_DEEP" ; launchctl setenv SUPERCHARLI_MODEL_SECONDARY "$SUPERCHARLI_MODEL_SECONDARY" ; launchctl setenv SUPERCHARLI_DB_PATH "$SUPERCHARLI_DB_PATH" ; launchctl setenv SUPERCHARLI_BACKUP_DIR "$SUPERCHARLI_BACKUP_DIR"</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
